html,
body {
    height: 100%;
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
}

body {
    padding: 16px;
}

@keyframes pulse {
    0%, 100% { opacity: 0.4; }
    50% { opacity: 0.8; }
}